<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-card
      width="100%"
      max-width="500px"
    >
      <v-form>
        <v-text-field
          v-model="username"
          :disabled="disableForm"
          rows="1"
          label="Username"
          autocomplete="username"
          filled
        />
        <v-text-field
          v-model="password"
          :disabled="disableForm"
          :append-icon="showPasswordIcon"
          :type="showPasswordType"
          rows="1"
          label="Password"
          autocomplete="current-password"
          filled
          @click:append="showPassword = !showPassword"
        />
        <v-btn
          width="100%"
          max-width="500px"
          text
          @click="loginHandler"
        >
          Login
        </v-btn>
      </v-form>
      <v-snackbar
        :value="error"
        :timeout="6000"
        bottom
        color="error"
      >
        {{ errorMessage }}
      </v-snackbar>
    </v-card>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Cookies from 'universal-cookie';

const cookies = new Cookies();

export default {
  head: {
    title: 'welcome',
  },
  middleware({ store, redirect }) {
    const isAuthenticated = cookies.get('user');
    if (typeof isAuthenticated !== 'undefined') {
      return redirect('/dashboard');
    }
  },
  data() {
    return {
      ready: true,
      showPassword: false,
      errorMessage: 'Username or Password is incorrect, please try again.',
    };
  },
  computed: {
    ...mapState([
      'error',
    ]),
    showPasswordIcon() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-outline';
    },
    showPasswordType() {
      return this.showPassword ? 'text' : 'password';
    },
    username: {
      get() {
        return this.$store.state.username;
      },
      set(value) {
        this.$store.commit('setUsername', value);
      },
    },
    password: {
      get() {
        return this.$store.state.password;
      },
      set(value) {
        this.$store.commit('setPassword', value);
      },
    },
    disableForm() {
      return !this.ready;
    },
  },
  methods: {
    ...mapActions('BucketBrowser', ['getObjects']),
    ...mapActions(['signin']),
    async loginHandler() {
      this.ready = false;
      await this.signin();
      this.ready = true;
    },
  },
};
</script>
