<template>
  <v-app>
    <v-content>
      <v-toolbar
        v-if="nav"
        dense
      >
        <nuxt-link to="/dashboard">
          <v-toolbar-title>
            <v-avatar size="32px" tile>
              <img src="~/static/nf-batch-runner-rabbit.png">
            </v-avatar>
            {{ username }}
          </v-toolbar-title>
        </nuxt-link>
        <v-spacer />
        <v-toolbar-items>
          <v-btn
            text
            @click="signout"
          >
            signout
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container>
        <nuxt />
      </v-container>
      <theme-toggle />
    </v-content>
  </v-app>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  components: {
    themeToggle: () => import('~/components/themeToggle'),
  },
  computed: {
    ...mapState([
      'username',
    ]),
    nav() {
      return this.$route.path !== '/';
    },
  },
  created() {
    const language = navigator.userLanguage || navigator.language;
    this.$store.commit('setLanguage', language);
  },
  methods: {
    ...mapActions(['signout']),
  },
};
</script>

<style>
@media (min-width: 1904px) {
  .container {
      max-width: 1704px;
  }
}
.v-toolbar {
  transition: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.v-toolbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7) !important;
}

.theme--light .v-toolbar a{
  color: rgba(0, 0, 0, 0.42) !important;
}
</style>
