<template>
  <v-select
    :hide-details="inline ? true : false"
    :hint="inline ? undefined : description"
    :label="label"
    :name="name"
    :items="items"
    :required="required"
    :rules="rules"
    :value="value"
    :readonly="readonly"
    outline
    @input="$emit('input', $event)"
  />
</template>

<script>
export default {
  props: {
    description: {
      type: String,
      default: undefined,
    },
    inline: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: undefined,
    },
    name: {
      type: String,
      default: undefined,
    },
    required: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: undefined,
    },
    value: {
      type: Boolean,
      default: undefined,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      items: [
        {
          text: 'False',
          value: false,
        },
        {
          text: 'True',
          value: true,
        },
      ],
    };
  },
};
</script>
