<template>
  <component
    :is="currentInputComponent"
    :description="description"
    :inline="inline"
    :label="label || name"
    :name="name"
    :required="required"
    :rules="required ? [ v => !!v || typeof v === 'boolean' || `${name} is required` ] : []"
    :value="valueOrDefault"
    :items="items"
    :readonly="readonly"
    :class="{ readonly }"
    @input="$emit('input', $event)"
  />
</template>

<script>
import { mapGetters } from 'vuex';

import boolean from './boolean.vue';
import integer from './integer.vue';
import number from './number.vue';
import text from './text.vue';
import list from './list.vue';
import map from './map.vue';

const editors = {
  boolean,
  file: text,
  dir: text,
  integer,
  number,
  text,
  list,
  map,
};

export default {
  name: 'InputControl',
  props: {
    description: {
      type: String,
      default: undefined,
    },
    inline: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: undefined,
    },
    name: {
      type: String,
      default: undefined,
    },
    required: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: undefined,
    },
    type: {
      type: String,
      default: undefined,
    },
    value: {
      type: null,
      default: undefined,
    },
    items: {
      type: null,
      default: undefined,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters({
      typesByName: 'types/byName',
    }),
    currentInputComponent() {
      return editors[this.type] || text;
    },
    valueOrDefault() {
      if (typeof this.value === 'undefined') {
        return this.typesByName[this.type].default;
      } else {
        return this.value;
      }
    },
  },
};
</script>

<style scoped>
.readonly {
  pointer-events: none;
}
</style>
