<template>
  <v-select
    :hide-details="inline ? true : false"
    :hint="inline ? undefined : description"
    :label="label"
    :name="name"
    :required="required"
    :rules="rules"
    :items="items"
    :value="value"
    :readonly="readonly"
    outline
    @input="$emit('input', $event)"
  />
</template>

<script>
export default {
  props: {
    description: {
      type: String,
      default: undefined,
    },
    inline: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: undefined,
    },
    name: {
      type: String,
      default: undefined,
    },
    required: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: undefined,
    },
    value: {
      type: String,
      default: undefined,
    },
    items: {
      type: Array,
      default: () => [],
    },
    readonly: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
