<template>
  <v-layout
    class="mb-6"
    column
    justify-center
  >
    <pipelines />
    <jobs />
  </v-layout>
</template>

<script>

export default {
  head: {
    title: 'dashboard',
  },
  middleware: [
    'isAuthenticated',
  ],
  components: {
    Pipelines: () => import('~/components/Pipelines'),
    Jobs: () => import('~/components/Jobs'),
  },
};
</script>
