<template>
  <v-card class="my-6 pb-3">
    <v-card-title class="px-6 pt-4 pb-0 sub-title flex-column justify-start align-start flex-sm-row justify-sm-center align-sm-center">
      <v-layout class="align-center">
        History
      </v-layout>
      <v-spacer />
      <v-text-field
        v-model="search"
        label="Search"
        class="search"
        single-line
        clearable
      />
    </v-card-title>
    <v-card-text class="pa-0">
      <v-data-table
        :headers="header"
        :items="details"
        :search="search"
        :expanded.sync="expanded"
        item-key="index"
        disable-pagination
        fixed-header
        hide-default-footer
        sort-desc
        single-expand
        show-expand
        sort-by="created"
      >
        <template v-slot:item.status="{ item }">
          <v-chip :color="getColor(item.status)" dark>
            {{ item.status }}
          </v-chip>
        </template>
        <template v-slot:item.charged="{ item }">
          <v-chip :color="getColor(item.charged)" dark>
            {{ item.charged }}
          </v-chip>
        </template>
        <template v-slot:item.clone="{ item }">
          <v-btn
            text
            icon
            small
            @click="clone(item.variables, item.pipeline)"
          >
            <v-icon>mdi-plus-circle-multiple-outline</v-icon>
          </v-btn>
        </template>
        <template v-slot:expanded-item="{ headers }">
          <td
            v-if="inputs"
            :colspan="headers.length"
            class="py-4"
          >
            <input-control
              v-for="input in inputs"
              :key="`${input.name}/readonly`"
              :name="input.name"
              :label="input.label"
              :type="input.type"
              :value="input.value"
              :readonly="true"
            />
          </td>
          <td
            v-else
            :colspan="headers.length"
          >
            no data
          </td>
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-actions class="px-5 py-0">
      <v-spacer />
      <v-switch
        v-model="isPolling"
        :loading="isLoading"
        color="primary"
        label="Update data"
        class="ml-2 mr-4 pt-3"
        height="16px"
        @change="togglePolling"
      />
      <v-btn
        :disabled="disableMore"
        color="primary"
        @click="raiseLimit"
      >
        Load more
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions, mapMutations, mapState, mapGetters } from 'vuex';

export default {
  components: {
    InputControl: () => import('~/components/InputControl'),
  },
  data() {
    return {
      polling: {
        instance: undefined,
        timeout: undefined,
        interval: 10000,
      },
      search: '',
      expanded: [],
    };
  },
  computed: {
    ...mapState('Job', [
      'limit',
      'data',
      'loading',
    ]),
    ...mapGetters('Pipeline', [
      'cast',
    ]),
    details() {
      return this.data.map(({ metadata = {}, inputs = {}, status = 'N/A', charges = {} }, index) => {
        const { pipeline = 'N/A' } = metadata;
        const created = metadata.created_at || 'N/A';
        const job = metadata.job || 'N/A';
        const charged = charges.status || 'N/A';
        const { variables = {} } = inputs;
        return {
          pipeline,
          job,
          status,
          created: {
            text: this.toLocal(created),
            value: created,
          },
          charged,
          clone: pipeline,
          index,
          variables,
        };
      });
    },
    inputs() {
      const { expanded } = this;
      const { variables = {} } = (expanded.length > 0) ? expanded[0] : {};
      const { inputs = [] } = variables;
      return inputs.map((i) => ({
        ...i,
        value: this.cast('text', i.value || ''),
        type: 'text',
      }));
    },
    header() {
      return [
        {
          text: 'Job',
          value: 'job',
          align: 'start',
        },
        {
          text: 'Pipeline',
          value: 'pipeline',
          align: 'start',
          divider: true,
        },
        {
          text: 'Status',
          value: 'status',
          align: 'center',
        },
        {
          text: 'Created at',
          value: 'created',
          align: 'start',
          sort: (a, b) => a.value - b.value,
        },
        {
          text: 'Charged',
          value: 'charged',
          align: 'center',
          divider: true,
        },
        {
          text: 'Clone',
          value: 'clone',
          align: 'center',
          sortable: false,
          width: 24,
        },
      ];
    },
    isLoading() {
      return (this.loading) ? 'primary' : undefined;
    },
    disableMore() {
      return (this.limit.value > this.data.length);
    },
    isPolling: {
      get() {
        return this.$store.state.Job.polling.isActive;
      },
      set(value) {
        this.setPollingIsActive(value);
      },
    },
  },
  created() {
    if (!this.isPolling) {
      return;
    }
    this.startPolling();
    this.polling.timeout = setTimeout(() => {
      this.stopPolling();
    }, 3.6e+6);
  },
  beforeDestroy() {
    this.stopPolling();
    clearTimeout(this.polling.timeout);
  },
  methods: {
    ...mapActions('Job', [
      'getJobs',
    ]),
    ...mapMutations('Job', [
      'setPollingIsActive',
      'setInput',
      'raiseLimit',
    ]),
    ...mapMutations('Pipeline', [
      'setSelection',
      'setInput',
    ]),
    togglePolling() {
      if (this.isPolling) {
        this.startPolling();
      } else {
        this.stopPolling();
      }
    },
    startPolling() {
      this.getJobs();
      this.polling.instance = setInterval(() => {
        if (this.isPolling) {
          this.getJobs();
        } else {
          this.stopPolling();
        }
      }, this.polling.interval);
    },
    stopPolling() {
      if (typeof this.polling.instance !== 'undefined') {
        clearInterval(this.polling.instance);
        this.polling.instance = undefined;
        this.setPollingIsActive(false);
      }
    },
    getColor(value) {
      // TODO: too simplisitc check other potential values
      switch (value.toLowerCase()) {
        case 'ready':
          return 'red';
        case 'pending':
          return 'orange';
        case 'compleete':
          return 'primary';
      }
    },
    toLocal(value) {
      const local = this.$store.state.language;
      const options = {
        weekday: 'long',
        day: 'numeric',
        year: 'numeric',
        month: 'long',
        timezone: 'UTC',
        timeZoneName: 'short',
        hour: 'numeric',
        minute: 'numeric',
        hour12: (local !== 'en-GB'),
      };
      return new Date(value).toLocaleString(local, options);
    },
    clone(variables, pipeline) {
      this.setSelection(pipeline);
      const { inputs = [] } = variables;
      return inputs.forEach(({ name, value = '' }) => {
        this.setInput({ name, value });
      });
    },
  },
};
</script>

<style scoped>
.search{
  max-width: 500px;
}
</style>
