<template>
  <v-btn
    fab
    fixed
    bottom
    right
    @click="toggle"
  >
    <v-icon>
      {{ themeIcon }}
    </v-icon>
  </v-btn>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapState(['dark']),
    ...mapGetters(['themeIcon']),
  },
  mounted() {
    const dark = (localStorage.getItem('dark') === 'true');
    this.assignDark(dark);
  },
  methods: {
    ...mapMutations(['setDark']),
    toggle() {
      const dark = !this.dark;
      localStorage.setItem('dark', dark);
      this.assignDark(dark);
    },
    assignDark(dark) {
      this.$vuetify.theme.dark = dark;
      this.setDark(dark);
    },
  },
};
</script>
